body {
    margin: 0;
    padding: 0 0 100px 0;
    box-sizing: border-box;
    font-family: Montserrat, Arial;
    background: linear-gradient(to right, #000000, #434343);
}

.headers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.Dev {
    font-size: 26px;
    font-weight: bold;
    text-decoration: rgb(38, 0, 255) underline;
    color: rgb(217, 255, 4);
    margin-left: 30px;
    transition: all 0.2s;
} 

.Dev:active{
    color: #8d2727;
    text-decoration-color: rgb(99, 49, 6);
}

li, a {
    list-style: none;
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: all 0.3s;
}

.Nav-bars {
    display: flex;
    gap: 15px;
    margin-right: 25px;
    font-size: 24px;
}

.Nav-bars li a:hover {
        color: greenyellow;
}

.heading {
    display: block;
    text-align: center;
    width: 53%;
    margin-bottom: 20px;
    /* margin-left: 24%; */
}

.more_info {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 18px;
}

.about {
    color: greenyellow;
    font-size: 40px;   
}


.webpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto;
}

.access-form {
    width: 50%;
}

.action {
    text-align: center;
    color: blue;
    font-size: 25px;
}

label {
    color: white;
    display: block;
    margin-bottom: 12px;
}

input,
select,
textarea {
    padding: 13px;
    display: inline-block;
    margin: 5px 0 22px 0;
    background-color: rgb(255, 255, 255);
    border: none;
    outline: none;
    font-size: 17px;
    color: gray;
    border-radius: 5px;
}

.forms {
    display: flex;
    flex-direction: column;
    width: 100%;
}
input:focus {
    color: #5c8d27;
}

.texts {
    resize: none;
    height: 100px;
}

.texts::placeholder {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    display: block;
    color: #8d2727;
    width: 100%;
    padding: 14px 20px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 70px;
    border: none;
    transition: all 0.5s ease-in-out;
}

button:hover {
    background-color: #8d2727;
    color: white;
}

.btn {
    margin-top: 30px;
}